body {
    background-color: bisque;
    margin: 0;
}

div.body {
    margin: 25px;
    background-color: bisque;
}



div.header-container {
    display: grid;
    grid-template-columns: 8fr 1fr 1fr 1fr 1fr;
    color: beige;
    background-color: darkred;
    height: 100px;
    align-items: center;
}


a.header-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: beige;
    margin: 0px;
}

/*Body style*/


html {
  font-family: Helvetica, Arial, sans-serif;
}

h2 {
  font-size: 2em;
    font-family: "arial";
}

ul,ol,dl,p {
  font-size: 1rem;
}

li, p {
  line-height: 1.5;
}

a.header-link:hover {
    background-color: beige;
    color: darkred;
}

.logo {
    margin-left: 7%;
    font-size: 50px;
}



/* Footer styles */
footer {
    margin: 0;
}

div.footer-container {
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer-item {
    text-align: center;
    color: darkred;
    margin-bottom: 10px;
}

.footer-item > a {
    text-decoration: none;
    color: darkred;
}



